
.hero_container{
    /*  background style may revisit later */
    padding:2rem;
    background-image: url("./assets/michael-olsen-SspE9f0fAyI-unsplash.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    margin:2rem;
    display: flex;
    
}
.hero-p{
    font-size: 76px;
    margin-bottom:25px;
    text-align: center;
}

.main_img{
    background-image: url("assets/nerd_selfie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 500px;
    max-height: 700px;
    display:flex;
    flex-direction: column;
    border-radius:10px;
    justify-content: end;
}
.link{
    font-size: 28px;
}
.cardUpperContent{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.cardImgContainer{
    max-width: 450px;
}
.cardImgContainer > img{
    object-fit:contain;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sectionTitle{
    font-size:48px;
    padding-bottom: 2rem;
}
.aboutMe{
    background-color: white;
    padding:3rem 1rem 1rem 3rem;
    line-height: 1.5;
    margin-bottom:2rem;
    margin-top:2rem;
    box-shadow: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
    height:100%;
}
.text-p{
    font-size: 28px;

}
.links{
    padding-bottom: .5rem;
    padding-top: .5rem;
    display:flex;
    flex-direction:row-reverse;
    gap:1rem;

}
.links-r{
    padding:.5rem;
    display:flex;
    gap:1rem;

}

.cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    justify-items: center;

}
.cardContainer{
    border:2px solid black;
    width: 450px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.422);
    display:flex;
    flex-direction: column;

}
.work-section{
    min-height:  80vh;
    padding:5rem;
}
.cardContent{
    margin:.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.cardTitle{
    font-size: 34px;
    font-style: bold;
    padding:1rem;
}
.cardDesc{
    font-size:18px;
    opacity: 70%;
    padding:1rem;
}

/* Contact */
.contact{
    padding:5rem;
    background-color: aqua;

}
.footerContent{
    margin:2rem;
    display:flex;
    flex-direction: column;
    font-size: 22px;
    font-style: bold;
}
.footerContactInfo{
    padding:.5rem;
}
i{
    font-size:42px;
}

@media (max-width:1300px){
    .container{
        position: relative;
        display:block;
        
    }
    .main_img{
        float:left;
        transform: translateX(-40px);
        border-radius: 10px;
        min-width: 500px;
        height: 500px;
    }
    .cards{
        grid-template-columns: repeat(2,1fr);

    }
}
@media (max-width: 800px) {
    .aboutMe{
        background-color: white;
    }
    .main_img{
        height:500px;
        transform: translateX(0);
        float: none;
        border-radius: 10px;
    }
    .container{
        display:flex;
        flex-direction: column;
        gap:2rem;
    }
    .aboutMe{
        margin:0;
        border-radius: 10px;
    }
    .links{
        justify-content: center;
        gap:3rem;
    }
    .links-r{
        justify-content: center;
    }
    .work-section{
        padding-top: 1rem;
        padding-bottom: 2rem;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionTitle{
        text-align: center;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .footerContent{
        margin:1rem;
    }
    .cardContainer{
        width:600px;
    }
    .cardImgContainer{
        width:100%;
    }
    .cardContent{
        padding:2rem;
    }
    .cardContent>p{
        font-size: 24px;
    }
    .cardTitle{
        font-size: 34px;
    }
    .link{
        font-size:54px;
    }
}