
.hero_container{
    /*  background style may revisit later */
    padding:2rem;
    background: linear-gradient(to right bottom, aqua, white 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    margin:2rem;
    background-color:rgb(240, 241, 242);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
    position:relative;
}
.main_img{
    background-image: url("assets/nerd_selfie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 500px;
    height: 500px;
    border:1px solid black;
    transform: translateX(-40px);
    float: left;
}
.link{
    font-size: 28px;
}
.cardUpperContent{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.cardImgContainer{
    max-width: 450px;
    float:left;
}
.cardImgContainer > img{
    object-fit:contain;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sectionTitle{
    font-size:32px;
    padding-bottom: 2rem;
}
.aboutMe{
    max-width:1900px;
    margin-top:2rem;
    margin-bottom:2rem;
    padding:3rem 1rem 1rem 3rem;
    border:1px solid black;
    line-height: 2.2;
    box-shadow: 4px;
}
.text-p{
    font-size: 28px;

}
.links{
padding-bottom: .5rem;
padding-top: .5rem;
    display:flex;
    flex-direction:row-reverse;
    gap:1rem;

}
.links-r{
    padding:.5rem;
    display:flex;
    gap:1rem;

}

.cards{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;

}
.cardContainer{
    border:1px solid black;
    width: 350px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.422);
}
.work-section{
    min-height:  80vh;
    padding:5rem;
}
.cardContent{
    margin:.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.cardTitle{
    font-size: 28px;
    font-style: bold;
    padding:1rem;
}
.cardDesc{
    font-size:18px;
    opacity: 70%;
    padding:1rem;
}

/* Contact */
.contact{
    padding:5rem;
    background-color: aqua;

}
.footerContent{
    margin:2rem;
    display:flex;
    flex-direction: column;
    font-size: 22px;
    font-style: bold;
}
.footerContactInfo{
    padding:.5rem;
}
i{
    font-size:42px;
}
@media (max-width: 750px) {
    .aboutMe{
        background-color: white;
    }
    .main_img{
        height:500px;
    }
    .container{
        flex-direction: column;
        gap:2rem;
    }
    .aboutMe{
        margin:0;
        border-radius: 10px;
    }
    .links{
        justify-content: center;
    }
    .links-r{
        justify-content: center;
    }
    .work-section{
        padding-top: 1rem;
        padding-bottom: 2rem;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionTitle{
        text-align: center;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: centers;
    }
    .footerContent{
        margin:1rem;
    }
}